html {
  min-height: 100%;
  display: grid; /* This helps center the card in the viewport */
}

body {
  display: grid; /* This helps center the card in the viewport */
  background:
    url(https://images.unsplash.com/photo-1729824346255-52a8f898fe84?w=1400)
    50%/ cover #212121;
  background-blend-mode: multiply;
}
